{% load static %}
<section id="footer">
    <div class="footer2">
        <div>
            <h4>Sayfalar</h4>
            <ul>
                <li><a href="{% url 'company' %}">Anasayfa</a></li>
                <li><a href="{% url 'match' %}">Eşleştir</a></li>
                <li><a href="{% url 'about' %}">Hakkımızda</a></li>
                <li><a href="{% url 'iletisim' %}">İletişim</a></li>
            </ul>
        </div>
        <div>
            <h4>İletişim</h4>
            <ul>
                <li>Saliha Yıldırım</li>
                <li>salihay406@gmail.com</li>
                <li>T:002200222077</li>
            </ul>
        </div>
        <div>
            <h4>Sosyal Medya</h4>
            <ul id="social-icons">
                <li><a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a></li>
                <li><a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a></li>
                <li><a href="https://twitter.com/"><i class="fab fa-twitter"></i></a></li>
            </ul>                
        </div>
    </div>
    
</section>